{% extends "base.html.twig" %}
{% block title 'Forgot password'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Forgot password</h1>
    </div>
    <div class="container mt-5 d-flex justify-content-center">
        {{ include('security/_form.html.twig', {form: form, button: 'Ask for password reset'}) }}
    </div>
{% endblock %}