{% extends "base.html.twig" %}
{% block title 'Sign up'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Sign Up</h1>
    </div>
    <div class="container mt-4 d-flex justify-content-center">
        {{ include('security/_form.html.twig', {form: form, button: 'Sign up'}) }}
    </div>
    <div class="d-flex justify-content-center mt-3">
        </br>
        <a href="{{ url('login') }}">Aldready an Account ?</a></br>
    </div>
{% endblock %}