{% extends 'base.html.twig' %}

{% block title 'My account' %}

{% block body %}    
    <div class="jumbotron text-center">
        <h1>My account</h1>
    </div>
    <div class="container mb-4">
        {{ include('member/_form_password.html.twig', {form: form, button: 'Edit'}) }}
    </div>
    <div class="container mb-4 mt-5 d-flex">
        <img src="{{ asset(picture) }}" class="profile-icon mx-5 mt-3"></img>
        {{ include('member/_form_picture.html.twig', {form: form, button: 'Edit'}) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/trigger-modal.js') }}"></script>
{% endblock %}