{% extends "base.html.twig" %}
{% block title 'Home'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Snowtricks</h1>
    </div>
    <div class="container">
       <h2>Last Tricks</h2>
       <div class="row flex">
        {% for snowtrick in snowtricks %}
            <div class="col-xs-12 col-md-8 col-lg-6">
                <img class="card-img-top" alt="Card image cap" src="{{ asset('uploads/') ~ snowtrick.file }}">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('snowtrick.show', {id: snowtrick.id}) }}">{{ snowtrick.title }}</a>
                        </h5>
                        <p class="text-primary"> {{ snowtrick.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
       </div>
    </div>
{% endblock %}