/* html page */
body {
  min-height: 100px!important;
  margin-bottom: 50px!important;
  clear: both!important;
}

a {
  color: #73C0E6;
}

h1 {
  font-size: 7vh;
}

h1, h2, h3, h4, h5, h6, td, th {
  color: #343a40;
}

h1.title {
  margin-bottom: 2vh;
}

p {
  white-space: pre-line;
  white-space: pre-wrap;
  color: #343a40;
}

footer {
  height: 50px;
  background-color: white;
}

* {
  scroll-behavior: smooth;
}
/* end html */

/* Medias */
.bghome {
  margin: 0;
  padding: 0;
  background: url(/banner/main-banner.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: -webkit-fill-available;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.mainpicture-show {
  display: flex;
  justify-content: center;
}

.deletemedia {
  position: absolute;
  padding: 1em;
  z-index: 1100;
}

img.main {
  box-shadow: 0px 0px 40px #fff;
}
/* end Medias */

/* Dropdown button */
.dropdown {
  position: absolute;
  right: 0;
}

.dropdown-menu {
  min-width: 10px;
  text-align: center;
}

.dropdown-item {
  color: white!important;
  background-color: #e9383f!important;
}

#dropdownMenuButton {
  border-radius: 5px 5px 5px 5px;
  background-color: #4b9bc4;
}

.dropdown-menu {
  background-color: #e9383f;
}
/* end Dropdown */

/* Icons */
.profile-icon {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.icon-menu {
  border-radius: 50px;
  padding: 4px;
  height: 4.5vh;
}

.icon-line {
  position: relative;
  top: 1px;
  color: #343a40;
}

.icon-top {
  border-radius: 50px;
  border: solid white;
  padding: 4px;
  height: 4.5vh;
}

.icon-bot {
  border-radius: 50px;
  border: solid;
  padding: 4px;
  height: 35px;
  background-color: white;
}
/* end Icons */

/* Buttons */
.btn-primary {
  background-color: #4b9bc4;
  border-color: #4b9bc4;
}

.btn-danger {
  background-color: #e9383f;
}

.btn-warning {
  background-color: #0F7890 !important;
  border-color: #0F7890 !important;
  color: #fff !important;
}

.btn-warning:focus, .btn-warning:active {
  background-color: #136a7e !important;
  border-color: #136a7e !important;
  box-shadow: 0 0 0 0.2rem #1F90AA !important;
}

.btn-warning:hover {
  background-color: #136A7E;
  border-color: #136A7E;
  color: #fff;
}

.btn-secondary {
  background-color: #888888;
}

#up {
  z-index: 1500;
}
/* end Buttons */

/* Comments */
.date-comment {
  margin-bottom: -10px;
  text-align: right;
  font-size: 0.9em;
}

.comment-row {
  align-items: center;
}

.not-connected-comment {
  border: solid 2px;
  box-sizing: initial;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  width: fit-content;
}

.not-connected-comment a {
  font-weight: bold;
}
/* end Comments */

/* Other */
.jumbotron {
  background-color: #73C0E6;
  color: white;
  box-shadow: 0px 0px 20px 0px #000;
}

.signature {
  margin: 10px;
}

.ib {
  display: inline-block;
  position: sticky;
}

.mt-n {
  margin-top: -7vh;
}
/* end Other */