{% extends "base.html.twig" %}
{% block title 'All Snowtricks'%}
{% block body %}
    <div class="container mt-4">
        <h1>Lorem ipsum</h1>
    </div>
    <div class="container">
       Test affichage snowtricks
    </div>
{% endblock %}