{% extends "base.html.twig" %}
{% block title 'All Snowtricks'%}
{% block body %}
    <div class="container mt-4">
        <h1>All Snowtricks</h1>
        <div class="row">
            {% for snowtrick in snowtricks %}
                <div class="col-md-4">
                    {% include "snowtricks/_snowtricks.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}