{% extends "base.html.twig" %}
{% block title 'All Snowtricks'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>All Snowtricks</h1>
    </div>
    <div class="container mt-4">
        <div class="row">
            {% for snowtrick in snowtricks %}
                <div class="col-xs-12 col-md-8 col-lg-6">
                    {% include "snowtricks/_snowtricks.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}