{% extends "base.html.twig" %}
{% block title 'Edit'%}
{% block body %}
    <div class="container mt-4">
        <h1>Edit</h1>
        {{ include('admin/snowtricks/_form.html.twig', {form: form, button: 'Edit'}) }}
    </div>
{% endblock %}