{% extends "base.html.twig" %}
{% block title 'Edit'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Edit a snowtrick</h1>
    </div>
    <div class="container mt-4">
        {{ include('member/snowtricks/_form.html.twig', {form: form, button: 'Edit'}) }}
    </div>
{% endblock %}
