{% block body %}
    <h2> Hello,</h2>
    </br>
    <p>As requested, here a <a href="{{ url('resetpassword',{value:token}) }}">link</a> to reset your password ! </p>
    </br>
    <p>Snowtricks team</p>
{% endblock %}